mixin card({ src = '', alt = 'card', description = '', demoLink = '#', githubLink = '#', linkText = 'Github', linkIcon = '../../components/card/img/git-icon.svg' } = {}, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card_' + modsList[i].trim();
      }
    }

  .card-wrapper
    .card(class=allMods)&attributes(attributes)
      .card__face.card__front
        img.card__img(src=src, alt=alt)
      .card__face.card__back
        h3.card__description= description
        .card__links
          a.card__link(href=demoLink, target='_blank')
            img.card__link-icon(src='../../components/card/img/demo-icon.svg', alt='Демо')
            span Демо
          a.card__link(href=githubLink, target='_blank')
            img.card__link-icon(src=linkIcon, alt='Исходный код на github')
            span= linkText
